html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    margin: 0;
    background-color: snow;
    padding-top: 50px;
    background-color: snow;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-transform: uppercase;
    background-color: rgba(255, 254, 251, 0.315);
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    display: block;
    color: rgb(8, 7, 29);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover:not(.active) {
    background-color: #5d5d5d;
    color: blanchedalmond;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

footer {
    background-color: #5d5d5d;
    padding-top: 5px;
    text-align: center;
    text-decoration-color: mintcream;
    height: 60px;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 15px;
    position: absolute;
}

.footerNav a {
    color: mintcream;
    text-align: center;
    padding: 14px 16px;
    padding-top: 10px;
    text-decoration: none;
}

.footerP {
    color: mintcream;
    padding: 14px 16px;
    padding-top: 10px;
    text-align: center;
}